{% extends "base.html" %}
{% load static %}
{% block title %}AirSyst - Восстановление пароля{% endblock %}
{% block content %}
<section class="forgot">
    <form class="sing">
        <div class="sing__title">
            Забыли свой пароль?
        </div>
        <input type="email" name="email" placeholder="Email">
        <div class="sing__text">
            Контрольная строка для смены пароля, а также ваши регистрационные данные, будут высланы вам по Email
        </div>
        <input type="submit" class="btn" value="Выслать">
        <a href="{% url 'login-page' %}">Авторизация</a>
        <a href="{% url 'register-page' %}">Регистрация</a>
    </form>
</section>
{% endblock %}