{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load main_extras %}
{% block title %}AirSyst - {% translate 'Purchase history' %}{% endblock %}
{% block add_css %}
<link rel="stylesheet" href="{% static 'css/air-datepicker.css' %}">
{% endblock %}
{% block content %}
<section class="history wrap">
    <div class="history__time">
        <h1 class="title">
            {% translate 'Purchase history' %}
        </h1>
        <input type="text" id="data" placeholder="{% translate 'Specify time interval' %}">
        <div class="btn">
            {% translate 'Next' %}
        </div>
    </div>

    <div class="shop-cart__content">
        <div class="shop-cart__head">
            <div class="filter__checkbox" name="select-all">
                <div class="filter__check">
                    <img src="{% static 'img/icons/check.svg' %}">
                </div>
                <span>{% translate 'Choose all' %}</span>
            </div>
            <div class="shop-cart__delete-all">
                <img src="{% static 'img/icons/delete.svg' %}">
                {% translate 'Delete selected' %}
            </div>
        </div>
        <div class="shop-cart__body">
            <div class="shop-cart__body__content">
                <div class="shop-cart__header">
                    <div class="shop-cart__col"></div>
                    <div class="shop-cart__col"></div>
                    <div class="shop-cart__col">
                        {% translate 'Name' %}
                    </div>
                    <div class="shop-cart__col">{% translate 'Price' %}</div>
                    <div class="shop-cart__col">{% translate 'Quantity' %}</div>
                    <div class="shop-cart__col">{% translate 'Total' %}</div>
                    <div class="shop-cart__col"></div>
                </div>
                <div class="shop-cart__items">
                    <div class="shop-cart__item">
                        <div class="shop-cart__col select">
                            <div class="filter__checkbox">
                                <div class="filter__check">
                                    <img src="{% static 'img/icons/check.svg' %}">
                                </div>
                            </div>
                        </div>
                        <a href="/" class="shop-cart__col shop-cart__img">
                            <img src="{% static 'img/images/catalog-item.jpg' %}" alt="">
                        </a>
                        <div class="shop-cart__col shop-cart__name">
                            Product name
                        </div>
                        <div class="shop-cart__col shop-cart__price">
                            100$
                        </div>
                        <div class="shop-cart__col shop-cart__count">
                            <div class="catalog__count">
                                <div class="catalog__minus">-</div>
                                <input id="catalog-count" type="text" value="1">
                                <div class="catalog__plus">+</div>
                            </div>
                        </div>
                        <div class="shop-cart__col shop-cart__full-price">
                            100$
                        </div>
                        <div class="shop-cart__col shop-cart__delete">
                            <img src="{% static 'img/icons/delete.svg' %}" alt="">
                        </div>
                    </div>
                    <div class="shop-cart__item">
                        <div class="shop-cart__col select">
                            <div class="filter__checkbox">
                                <div class="filter__check">
                                    <img src="{% static 'img/icons/check.svg' %}">
                                </div>
                            </div>
                        </div>
                        <a href="/" class="shop-cart__col shop-cart__img">
                            <img src="{% static 'img/images/catalog-item.jpg' %}" alt="">
                        </a>
                        <div class="shop-cart__col shop-cart__name">
                            Product name
                        </div>
                        <div class="shop-cart__col shop-cart__price">
                            100$
                        </div>
                        <div class="shop-cart__col shop-cart__count">
                            <div class="catalog__count">
                                <div class="catalog__minus">-</div>
                                <input id="catalog-count" type="text" value="1">
                                <div class="catalog__plus">+</div>
                            </div>
                        </div>
                        <div class="shop-cart__col shop-cart__full-price">
                            100$
                        </div>
                        <div class="shop-cart__col shop-cart__delete">
                            <img src="{% static 'img/icons/delete.svg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="shop-cart__form">
                <div class="shop-cart__sub-title">
                    {% translate 'Your order' %}
                </div>
                <div class="shop-cart__form__item shop-cart__form__count">
                    <div class="shop-cart__form__text">
                        {% translate 'Items selected' %}:
                    </div>
                    <div class="shop-cart__form__value">
                        4 {% translate 'pcs'%}.
                    </div>
                </div>
                <div class="shop-cart__form__item shop-cart__form__wt">
                    <div class="shop-cart__form__text">
                        {% translate 'Order weight' %}:
                    </div>
                    <div class="shop-cart__form__value">
                        0,47 {% translate 'kg' %}.
                    </div>
                </div>
                <div class="shop-cart__form__item shop-cart__form__total">
                    <div class="shop-cart__form__text">
                        {% translate 'Total' %}:
                    </div>
                    <div class="shop-cart__form__value">
                        200$
                    </div>
                </div>
                <a href="/" class="btn">{% translate 'Repeat order' %}</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block add_js %}
<script src="{% static 'js/air-datepicker.js' %}"></script>
<script>
    new AirDatepicker('#data', {
        range: true,
        multipleDatesSeparator: ' - '
    });
</script>
{% endblock %}