{% extends 'base.html' %}
{% load static %}
{% load main_extras %}
{% load i18n %}
{% block title %}AirSyst - {% translate 'Profile' %}{% endblock %}
{% block content %}
<section class="order lk wrap">
    <div class="your-discont">
        {% translate 'Your discount' %} 5%
    </div>
    <h2 class="sub-title">
        {% translate 'Enter contact details' %}
    </h2>
    <div class="order__form">
        <div class="order__inputs">
            <input type="text" name="" placeholder="{% translate 'Name' %}">
            <input type="phone" name="" placeholder="{% translate 'Phone' %}">
            <input type="mail" name="" placeholder="{% translate 'Email' %}">
        </div>
        <div class="filter__checkbox need-rec">
            <div class="filter__check">
                <img src="{% static 'img/icons/check.svg' %}">
            </div>
            <span>{% translate 'I am a representative of a legal entity or individual entrepreneur' %}</span>
        </div>
        <div class="order__rec">
            <div class="order__rec-null">
                <img src="{% static 'img/icons/rec.svg' %}">
                {% translate 'This organization is not yet in our database. Please enter information on it.' %}
            </div>

            <div class="order__inputs">
                <input type="text" name="" placeholder="{% translate 'Name of the organization' %}*">
                <div class="order__input">
                    <input type="text" name="" placeholder="{% translate 'Legal address' %}*">
                    <div class="filter__checkbox">
                        <div class="filter__check">
                            <img src="{% static 'img/icons/check.svg' %}">
                        </div>
                        <span>{% translate 'Matches the physical' %}</span>
                    </div>
                </div>
                <input type="text" name="" placeholder="{% translate 'Physical adress' %}">
            </div>
            <div class="order__inputs">
                <input type="text" name="" placeholder="{% translate 'UNP' %}*">
                <input type="text" name="" placeholder="{% translate 'Checking account' %}*">
                <input type="text" name="" placeholder="{% translate 'Bank SWIFT' %}*">
            </div>
            <div class="order__inputs">
                <input type="text" name="" placeholder="{% translate 'Name of the bank' %}*">
            </div>
        </div>
        <div class="btn">{% translate 'Save' %}</div>
        <a href="{% url 'history-page' %}" class="btn">{% translate 'Purchase history' %}</a>
    </div>
</section>

{% endblock %}