{% extends 'base.html' %}
{% load static %}
{% load main_extras %}
{% block title %}AirSyst - Profile{% endblock %}
{% block content %}
<section class="order lk wrap">
    <div class="your-discont">
        Your discount 5%
    </div>
    <h2 class="sub-title">
        Enter contact details
    </h2>
    <div class="order__form">
        <div class="order__inputs">
            <input type="text" name="" placeholder="Name">
            <input type="phone" name="" placeholder="Phone">
            <input type="mail" name="" placeholder="Email">
        </div>
        <div class="filter__checkbox need-rec">
            <div class="filter__check">
                <img src="{% static 'img/icons/check.svg' %}">
            </div>
            <span>I am a representative of a legal entity or individual entrepreneur</span>
        </div>
        <div class="order__rec">
            <div class="order__rec-null">
                <img src="{% static 'img/icons/rec.svg' %}">
                This organization is not yet in our database. Please enter information on it.
            </div>

            <div class="order__inputs">
                <input type="text" name="" placeholder="Name of the organization*">
                <div class="order__input">
                    <input type="text" name="" placeholder="Legal address*">
                    <div class="filter__checkbox">
                        <div class="filter__check">
                            <img src="{% static 'img/icons/check.svg' %}">
                        </div>
                        <span>Matches the physical</span>
                    </div>
                </div>
                <input type="text" name="" placeholder="Physical adress">
            </div>
            <div class="order__inputs">
                <input type="text" name="" placeholder="UNP*">
                <input type="text" name="" placeholder="Checking account*">
                <input type="text" name="" placeholder="Bank SWIFT*">
            </div>
            <div class="order__inputs">
                <input type="text" name="" placeholder="Name of the bank*">
            </div>
        </div>
        <div class="btn">Save</div>
        <a href="{% url 'history-page' %}" class="btn">Purchase history</a>
    </div>
</section>

{% endblock %}