{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}AirSyst - Cart{% endblock %}
{% block content %}
<section class="shop-cart wrap">
    <h1 class="title">Cart</h1>
    {% if basket_items %}
    <div class="shop-cart__content">
        <div class="shop-cart__head">
            <div class="filter__checkbox" name="select-all">
                <div class="filter__check">
                    <img class="lazyload" data-src="{% static 'img/icons/check.svg' %}">
                </div>
                <span>{% translate 'Choose all' %}</span>
            </div>
            <div class="shop-cart__delete-all">
                <img class="lazyload" data-src="{% static 'img/icons/delete.svg' %}">
                {% translate 'Delete selected' %}
            </div>
        </div>
        <div class="shop-cart__body">
            <div class="shop-cart__body__content">
                <div class="shop-cart__header">
                    <div class="shop-cart__col"></div>
                    <div class="shop-cart__col"></div>
                    <div class="shop-cart__col">{% translate 'Name' %}</div>
                    <div class="shop-cart__col">{% translate 'Price' %}</div>
                    <div class="shop-cart__col">{% translate 'Quantity' %}</div>
                    <div class="shop-cart__col">{% translate 'Total' %}</div>
                    <div class="shop-cart__col"></div>
                </div>
                <div class="shop-cart__items">
                    {% for basket_item in basket_items %}
                    <div class="shop-cart__item" product-id="{{ basket_item.equip_obj.pk }}">
                        <div class=" shop-cart__col select">
                            <div class="filter__checkbox">
                                <div class="filter__check">
                                    <img class="lazyload" data-src="{% static 'img/icons/check.svg' %}">
                                </div>
                            </div>
                        </div>
                        <a href="#" class="shop-cart__col shop-cart__img">
                            <img class="lazyload" data-src="{{ basket_item.equip_obj.pk }}" alt="">
                        </a>
                        <div class="shop-cart__col shop-cart__name">{{ basket_item.equip_obj.name }}</div>
                        <div class="shop-cart__col shop-cart__price">{{ basket_item.equip_obj.get_final_price }}</div>
                        <div class="shop-cart__col shop-cart__count">
                            <div class="catalog__count">
                                <div class="catalog__minus">-</div>
                                <input id="catalog-count" type="text" value="{{ basket_item.count }}">
                                <div class="catalog__plus">+</div>
                            </div>
                        </div>
                        <div class="shop-cart__col shop-cart__full-price">{{ basket_item.full_price }}</div>
                        <div class="shop-cart__col shop-cart__delete">
                            <img class="lazyload" data-src="{% static 'img/icons/delete.svg' %}" alt="">
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="shop-cart__form">
                <div class="shop-cart__sub-title">
                    {% translate 'Your order' %}
                </div>
                <div class="shop-cart__form__item shop-cart__form__count">
                    <div class="shop-cart__form__text">
                        {% translate 'Items selected' %}:
                    </div>
                    <div class="shop-cart__form__value">
                        {{ basket_items }} {% translate 'pcs' %}.
                    </div>
                </div>
                <div class="shop-cart__form__item shop-cart__form__wt">
                    <div class="shop-cart__form__text">
                        {% translate 'Order weight' %}:
                    </div>
                    <div class="shop-cart__form__value">
                        {{ basket_items }} {% translate 'kg' %}.
                    </div>
                </div>
                <div class="shop-cart__form__item shop-cart__form__total">
                    <div class="shop-cart__form__text">
                        {% translate 'Total' %}:
                    </div>
                    <div class="shop-cart__form__value">
                        {{ basket_items }}
                    </div>
                </div>
                <a href="#" class="btn">{% translate 'Checkout' %}</a>
            </div>
        </div>
    </div>
    {% else %}
    <div class="shop-cart__empty">
        {% translate 'Cart is empty' %}
    </div>
    {% endif %}
</section>
{% endblock %}