{% extends 'base.html' %}
{% load main_extras %}
{% load static %}
{% block title %}AirSyst - Products{% endblock %}
{% block content %}
<div class="bread-crumbs wrap">
    <a href="/" class="bread-crumbs__item">Home</a>
    <div class="bread-crumbs__item">Products</div>
</div>
<section class="equipment wrap">
    <h1 class="title">PRODUCTS</h1>
    {% if categories %}
    <div class="equipment__items">
        {% for category in categories %}
        <a href="{% url 'product-category-by-slug' category|get_category_slug_for_lang %}" class="equipment__item">
            <img class="lazyload" data-src="{{ category.image.url }}" alt="">
            <h2 class="equipment__name">{{ category|get_lang_field:'name' }}</h2>
        </a>
        {% endfor %}
    </div>
    {% endif %}
</section>
{% endblock %}