{% extends 'base.html' %}
{% load static %}
{% block title %}AirSyst - Contacts{% endblock %}
{% block content %}
<div class="contacts-page wrap">
    <h1 class="title">Контакты</h1>
    <div class="contacts-page__items">
        <!--  <div class="contacts-page__item">
                <div class="contacts-page__icons">
                    <img src="img/icons/tel.svg" alt="">
                </div>
                <div class="contacts-page__data">
                    <div class="contacts-page__data__item">
                        <h3>
                            Отдел продаж:
                        </h3>
                        <a href="tel:" target="_blank" class="tel">
                            +375 (29) 345 67 89
                        </a>
                        <a href="tel:" target="_blank" class="tel">
                            +375 (29) 345 67 89
                        </a>
                    </div>
                    <div class="contacts-page__data__item">
                        <h3>
                            Сервисный центр:
                        </h3>
                        <a href="tel:" target="_blank" class="tel">
                            +375 (29) 345 67 89
                        </a>
                        <a href="tel:" target="_blank" class="tel">
                            +375 (29) 345 67 89
                        </a>
                    </div>
                </div>
            </div>
            <div class="contacts-page__item">
                <div class="contacts-page__icons">
                    <img src="img/icons/mail.svg">
                    <img src="img/icons/vk.svg">
                    <img src="img/icons/time.svg">
                </div>
                <div class="contacts-page__data">
                    <div class="contacts-page__data__item">
                        <a class="link" href="mailto:info@airsist.ru">
                            info@airsist.ru
                        </a>
                    </div>
                    <div class="contacts-page__data__item">
                        <a class="link" href="vk.com/">
                            vk.com/id1
                        </a>
                    </div>
                    <div class="contacts-page__data__item">
                        <div class="time-work__items">
                            <div class="time-work__item">
                                <span>Пн-Вт:</span> 9:00-18:00
                            </div>
                            <div class="time-work__item">
                                <span>Сб-Вс:</span> Выходной
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contacts-page__item">
                <div class="contacts-page__icons">
                    <img src="img/icons/location.svg" alt="">
                </div>
                <div class="contacts-page__data">
                    <div class="contacts-page__data__item">
                        <h3>Офис:</h3>
                        <h4>г. Минск, ул. Тростенецкая, 6к2</h4>
                    </div>
                    <div class="contacts-page__data__item">
                        <h3>Сервис:</h3>
                        <h4>г. Минск, ул. Тростенецкая, 6к2</h4>
                    </div>
                    <div class="contacts-page__data__item">
                        <h3>Склад:</h3>
                        <h4>г. Минск, ул. Тростенецкая, 6к2</h4>
                    </div>
                </div>
            </div> -->
        <div class="contacts-page__item">
            <div class="contacts-page__country">
                Турецкая Республика:
            </div>
            <div class="contacts-page__content">
                <p>AERO ENDÜSTRİ</p>
                <p>Emek, Sivat Cd., 34785 Sancaktepe/İstanbul, Турция</p>
                <p><strong><a href="tel:">+90 537 857 23 01</a></strong></p>
                <p><a href="mailto:">info@airsyst.eu</a></p>
                <p><a href="/">www.airsyst.eu</a></p>
            </div>
        </div>
        <div class="contacts-page__item">
            <div class="contacts-page__country">
                Эстония:
            </div>
            <div class="contacts-page__content">
                <p>AIRSYST OU</p>
                <p>Ahtri 12, 10151 Tallinn, Эстония</p>
                <p><strong><a href="tel:">+372 610 42 54</a></strong></p>
                <p><a href="mailto:">info@airsyst.eu</a></p>
                <p><a href="/">www.airsyst.eu</a></p>
            </div>
        </div>
        <div class="contacts-page__item">
            <div class="contacts-page__country">
                Ирландия:
            </div>
            <div class="contacts-page__content">
                <p>AIRSYST OU</p>
                <p>Thurles, Co. Tipperary, Ирландия</p>
                <p><strong><a href="tel:">+353 852 59 38 58</a></strong></p>
                <p><a href="mailto:">info@airsyst.eu</a></p>
                <p><a href="/">www.airsyst.eu</a></p>
            </div>
        </div>
        <div class="contacts-page__item">
            <div class="contacts-page__country">
                Российская Федерация:
            </div>
            <div class="contacts-page__content">
                <p>ООО “Эир Сист Рус”</p>
                <p>г. Смоленск, ул. Большая Советская 16/17, РФ</p>
                <p><strong><a href="tel:">+7 921 395 92 29</a></strong></p>
                <p><a href="mailto:">info@airsyst.ru </a></p>
                <p><a href="/">www.airsyst.ru </a></p>
            </div>
        </div>
        <div class="contacts-page__item">
            <div class="contacts-page__country">
                Республика Беларусь:
            </div>
            <div class="contacts-page__content">
                <p>ООО “БелТехЛайн”</p>
                <p>г. Минск, пер. С. Ковалевской 60, Беларусь</p>
                <p><strong><a href="tel:">+375 33 385 05 68</a></strong></p>
                <p><a href="mailto:">info@airsyst.by</a></p>
                <p><a href="/">www.airsyst.by</a></p>
            </div>
        </div>
    </div>
    <a href="/" download="download" class="btn">Скачать “Реквизиты.pdf”</a>
</div>
<iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1176.3125484074558!2d27.508143809134385!3d53.86731419736347!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbd06c7754dd9d%3A0x2a0cd6be8d65e001!2z0L_QtdGALiDQodC-0YTRjNC4INCa0L7QstCw0LvQtdCy0YHQutC-0LkgNjAsINCc0LjQvdGB0LogMjIwMDg5!5e0!3m2!1sru!2sby!4v1646213875419!5m2!1sru!2sby"
    style="border:0;" allowfullscreen="" loading="lazy"></iframe>
{% endblock %}